name: Kotlin SDK Example App

on:
  pull_request:
    paths:
      - 'examples/kotlin/**'

jobs:
  build:
    name: Run Tests
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: run jvm commonTests
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - run: cd examples/kotlin && ./gradlew jvmTest --stacktrace --info
