name: React Native SDK v12 CI Tests

on:
  pull_request:
    paths:
      - "examples/react-native/v12/**"

jobs:
  build:
    name: Run React Native SDK v12 CI Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use React Native ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        working-directory: examples/react-native/v12
        run: npm install
      - name: Run Tests
        working-directory: examples/react-native/v12
        run: npm run test
